<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Testing Web</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/index.js"></script>
</head>

<body>
    <div id="main">

    </div>


    <h1>Игра: Перевед Слов</h1>
    <h3 id="word-for-translate"></h3>

    <form class="translate-input-form">
        <label>ИД слова</label>
        <input id="id-word" type="text" name="id" value="">
        <hr>
        <label>Слово для перевода</label>
        <input id="output-en-word" type="text" name="enWord" value="">
        <button type="button" id="btn-next-word">Next word</button>
        <hr>
        <label>Введите перевод слова</label>
        <input id="input-ru-word" type="text" name="ruWord" placeholder="русский перевод" value="">
        <button type="button" id="btn-check-word">Check word</button>
    </form>

</body>
</html>