<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Testing Web</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/index.js"></script>
</head>

<body>
    <div id="main">

        <div id="top-block">
            <div id="title">
                <h2>Игра на знание английских слов</h2>
            </div>

            <div id="statistics">
                <h3>Результаты</h3>
                <table>
                    <tr>
                        <th scope="col">Правильно:</th>
                        <td>
                            <div class="result-count" id="right-translate">
                                <output>12</output>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="col">Неправильно:</th>
                        <td>
                            <div class="result-count" id="wrong-translate">
                                <output>35</output>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div id="bottom-block">
            <div id="form-container">

                <h4 id="result-translate"></h4>

                <form class="translate-input-form">

                    <div class="form-word-en">
                        <output id="output-en-word" type="text" name="enWord" value="">press Next</output>
                    </div>

                    <div class="form-id">
                        <input id="id-word" type="text" name="id" value="">
                    </div>

                    <div class="form-word-ru">
                        <input id="input-ru-word" type="text" name="ruWord" placeholder="русский перевод" value="">
                    </div>

                    <div class="button-panel">
                        <button type="button" id="btn-check-word">Check</button>
                        <button type="button" id="btn-next-word">Next</button>
                        <button type="button" id="btn-help">Help</button>
                    </div>

                </form>
            </div>
        </div>

    </div>
</body>
</html>